<% layout("/layouts/boilerplate")%>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings"   class="needs-validation" >
        <div class="row">
            <div class="col-8">
        
        <div class="mb-3">
            <label for="title" class="form-label" >Title:</label>
            <input name="listing[title]" placeholder="title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good !</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" >Description:</label>
            <input name="listing[description]" placeholder="enter Description" type="text" class="form-control">
        </div>

       
        <div class="mb-3">
            <label for="image" class="form-label" >Image link:</label>
            <input name="listing[image]" placeholder="image" type="text" class="form-control">
            required
        </div>

        
        <div class="mb-3 col-4">
            <label for="Price" class="form-label" >Price:</label>
            <input name="listing[price]" placeholder="price" class="form-control" required>
            <div class="Invalid-feedback">enter a valid price!</div>
        </div>
       
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label" >Country:</label>
            <input name="listing[country]" placeholder="country" class="form-control" type="text" required>

        </div>
 
       
        <div class="mb-3">
            <label for="location" class="form-label" >Location:</label>
            <input name="listing[location]" placeholder="location" class="form-control" type="text" required>
        </div>

        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
     


    </form>
</div>
</div>

